<!-- vim: set sts=2 sw=2 et: -->

<p id="notice"><%= notice %></p>

<h1>Weather Prediction</h1>

<table>
    <tr>
    <td><a href="http://localhost:3000/weather/locations">All locations</a> </td>
    </tr>
    <tr>
    <td><a href="http://localhost:3000/weather/locations">OTHER</a> </td>
    </tr>
</table>

<br>
